<ion-view>
  <ion-content >
    <h1 class="padding center">{{window.title}}</h1>
    <h4 class="center">Room {{window.room}}</h4>
<!-- <ion-scroll zooming="true" direction="xy" style:"width: 100%; height: 100%"> -->
     <img ng-src="{{window.src}}" width="100%" />
<!-- </ion-scroll> -->
    <p class="desc padding">{{window.desc}}</p>
    <p class="padding">Summary adapted from {{window.links}}</p>
    <p> <a href="{{window.book}}"> Link to book </p>
    <p> * - Quoted directly from resource </p>
  </ion-content>
</ion-view>
